//- 组件名称：扫码关注
mixin BOTTOM_QR(node, parentNode)
    table.section(width='100%', style='background-color:#fff;font-size:18px')
        tbody
            tr
                th(width='200')
                    img(src='https://bqq.gtimg.com/qidian/src/themes/client/email/images-1.7.0/images/wechat-qrcode.png', width='170', height='170', style='border: 6px solid #0067ED;border-radius: 2px;margin: 56px 30px 56px 50px')
                td(width='300')
                    p(style='font-size:30px;padding-bottom:26px;') 扫描二维码关注我们
                    p(style='line-height: 32px')
                        | 更多产品资讯、功能更新
                        br
                        | 点击链接
                        a(href='https://q.url.cn/s/Wl7JmJm', target='_blank') https://q.url.cn/s/Wl7JmJm
                        br
                        | 加入官方群
                        a.nolink(style='color: #000 !important') 576505898