//- 组件名称：容器
mixin CONTAINER(node, parentNode)
    -
        var bgColor = node.bgColor;
        var paddingLeft = node.paddingLeft;
        var paddingRight = node.paddingRight;
        var paddingTop = node.paddingTop;
        var paddingBottom = node.paddingBottom;
        var lineHeight = node.lineHeight;
        var marginLeft = node.marginLeft;
        var marginTop = node.marginTop;
        var marginRight = node.marginRight;
        var marginBottom = node.marginBottom;
        var childNodes = node.childNodes;

    div(
        style=parseStyle({
            'padding': paddingTop + ' ' + paddingRight + ' ' + paddingBottom + ' ' + paddingLeft,
            'margin': marginTop + ' ' + marginRight + ' ' + marginBottom + ' ' + marginLeft,
            'background-color': bgColor,
            'line-height': lineHeight
        })
    )
        each childNode in childNodes
            +createPartialPug(childNode, node)