//- 组件名称：列表
mixin LIST(node, parentNode)
    -
        var bulletColor = node.bulletColor;
        var paddingLeft = node.paddingLeft;
        var paddingRight = node.paddingRight;
        var paddingTop = node.paddingTop;
        var paddingBottom = node.paddingBottom;
        var marginLeft = node.marginLeft;
        var marginTop = node.marginTop;
        var marginRight = node.marginRight;
        var marginBottom = node.marginBottom;
        var childNodes = node.childNodes;
    ul(
        style=parseStyle({
            'margin': marginTop + ' ' + marginRight + ' ' + marginBottom + ' ' + marginLeft,
            'list-style-type': 'disc',
            'color': bulletColor,
            'padding': paddingTop + ' ' + paddingRight + ' ' + paddingBottom + ' ' + paddingLeft,
        })
    )
        each childNode in childNodes
            +createPartialPug(childNode, node)
