//- 组件名称：列表项
mixin LIST_ITEM(node, parentNode)
    -
        var fontColor = node.fontColor || parentNode.fontColor;
        var childNodes = node.childNodes;
    li
        each childNode in childNodes
            span(
                style=parseStyle({
                    'color': fontColor
                })
            )
                +createPartialPug(childNode, node)
